*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4.4rem;
}

p {
  color: hsl(201, 11%, 66%);
  font-size: 1.8rem;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

body {
  font-size: 1.8rem;
  font-family: "Bai Jamjuree", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem;
  background-image: url("../img/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.history-section,
.clipboard-section {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.history-section h1,
.clipboard-section h1 {
  font-size: 4.4rem;
}
.history-section p,
.clipboard-section p {
  width: 47%;
  color: hsl(201, 11%, 66%);
}
.history-section .btns,
.clipboard-section .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  font-weight: 600;
  gap: 2rem;
}
.history-section .btns__one,
.clipboard-section .btns__one {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22.7rem;
  height: 5.6rem;
  border-radius: 2.5rem;
  overflow: hidden;
  z-index: 1;
}
.history-section .btns__one--green,
.clipboard-section .btns__one--green {
  -webkit-box-shadow: 0px 3px 0px hsl(171, 66%, 35%);
          box-shadow: 0px 3px 0px hsl(171, 66%, 35%);
  background-color: hsl(171, 66%, 44%);
}
.history-section .btns__one--blue,
.clipboard-section .btns__one--blue {
  -webkit-box-shadow: 0px 3px 0px hsl(233, 100%, 60%);
          box-shadow: 0px 3px 0px hsl(233, 100%, 60%);
  background-color: hsl(233, 100%, 69%);
}
.history-section .btns__one::before,
.clipboard-section .btns__one::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -11;
  z-index: -1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.history-section .btns__one--green::before,
.clipboard-section .btns__one--green::before {
  background-color: hsl(171, 66%, 60%);
}
.history-section .btns__one--blue::before,
.clipboard-section .btns__one--blue::before {
  background-color: hsl(233, 100%, 80%);
}
.history-section .btns__one:hover::before,
.clipboard-section .btns__one:hover::before {
  opacity: 1;
}
.history-section .btns a,
.clipboard-section .btns a {
  text-decoration: none;
  color: white;
}

.organize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15rem;
  gap: 2rem;
  text-align: center;
}
.organize h1 {
  font-size: 4rem;
}
.organize p {
  width: 50%;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 90rem;
  margin-top: 10rem;
}
.options img {
  position: relative;
  left: -5rem;
  max-height: 60rem;
}
.options .item-container {
  position: relative;
  top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  gap: 3rem;
}
.options .item-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  margin-left: 8rem;
}
.options .item-container .item p {
  width: 63%;
}

.anywhere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}
.anywhere .upper-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 2rem;
}
.anywhere .upper-text p {
  width: 50%;
}
.anywhere .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.information .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6rem;
  padding: 0 6rem;
}

.information-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 6rem;
  gap: 2rem;
  margin-top: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.information-container .item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3;
  gap: 2rem;
  text-align: center;
}
.information-container .item img {
  position: relative;
  height: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.information-container .item p {
  margin: 0 auto;
  height: 90px;
  width: 88%;
}

.clipboard-section {
  margin-top: 20rem;
}

footer {
  background-color: hsl(201, 11%, 98%);
}
footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
  margin-top: 10rem;
}
footer .footer-container .logo {
  height: 5.5rem;
}
footer .footer-container a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
footer .footer-container a:hover {
  color: hsl(171, 66%, 44%);
}
footer .footer-container .links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
}
footer .footer-container .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  font-size: 3rem;
}

@media (max-width: 1024px) {
  .history-section,
  .clipboard-section {
    padding: 0 1rem;
  }
  .history-section h1,
  .clipboard-section h1 {
    font-size: 2.8rem;
    width: 80%;
  }
  .history-section p,
  .clipboard-section p {
    width: 98%;
    font-size: 1.8rem;
  }
  .history-section .btns,
  .clipboard-section .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .history-section .btns__one,
  .clipboard-section .btns__one {
    width: 100%;
  }
  .organize h1 {
    font-size: 2.8rem;
    width: 80%;
  }
  .organize p {
    width: 90%;
  }
  .options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2rem;
    max-height: 100rem;
  }
  .options img {
    width: 35rem;
    left: 0;
  }
  .options .item-container {
    gap: 4rem;
  }
  .options .item-container .item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    text-align: center;
  }
  .options .item-container .item p {
    width: 100%;
  }
  .anywhere .upper-text p {
    width: 95%;
  }
  .anywhere .upper-text h1 {
    font-size: 2.8rem;
  }
  .anywhere .image {
    height: 20rem;
  }
  .information .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6rem;
  }
  .information .logos img {
    max-width: 20rem;
  }
  .information-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5rem;
  }
  .information-container .item p {
    width: 100%;
  }
  .clipboard-section {
    margin-top: 15rem;
  }
  .clipboard-section h1 {
    width: 90%;
  }
  .clipboard-section p {
    width: 91%;
  }
  footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 4rem;
  }
  footer .footer-container .links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
  }
  footer .footer-container .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    font-size: 3rem;
  }
}/*# sourceMappingURL=main.css.map */